{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="text-center">addmovie</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Title</label>
  <input type="text" class="form-control" name="t" placeholder="Enter the title">
</div>
       <div class="mb-3">
  <label class="form-label">description</label>
  <input type="text" class="form-control"  name="d" placeholder="Enter the description">
</div>
         <div class="mb-3">
  <label class="form-label">year</label>
  <input type="number" class="form-control"  name="y" placeholder="Enter the year">
</div>
          <div class="mb-3">
  <label class="form-label">language</label>
  <input type="text" class="form-control"  name="l" placeholder="Enter the language">
</div>

    <div class="mb-3">
  <label class="form-label">image</label>
  <input type="file" class="form-control"  name="i">
</div>

   <div class="mb-3">
       <input type="submit" value="ADD">
   </div>

</form>

{% endblock %}